img{
    border-radius: 50%;
}
.gradient-background{
  background: linear-gradient(300deg, #ff9d00, #58ff4c, #1c20ea);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
  margin-top: 2rem;
}

.box{
  border: solid black;
}

.btn{
  margin-top: 1rem;

}
